# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
